<div class="side-top">
  <div class="name">
  <a href="#">yagu</a>
  </div>
  <div class="create-room">
  <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-bottom">
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
     <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>